html {
  margin: 0;
  padding: 0;
  display: flex; }

div {
  display: flex;
  flex-direction: row; }

h1 {
  margin: 0px; }

input {
  padding: .33em;
  border-radius: 5px;
  margin-left: .3em; }

body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  body .App {
    margin: auto;
    padding: 2em;
    width: 100%;
    height: 500px;
    flex-direction: column; }
    body .App #dog-adder {
      flex-direction: column;
      padding-bottom: 1em;
      border-bottom: 1px solid black;
      margin-bottom: 1em; }
    body .App .dog, body .App #dog-adder {
      flex-direction: column;
      margin-top: 1em;
      align-items: center;
      padding: 1em; }
    body .App #dogs {
      flex-direction: column; }
      body .App #dogs .dog {
        margin-right: 1em; }
        body .App #dogs .dog:nth-child(odd) {
          background-color: lightgray; }
    body .App .fields {
      flex-direction: column; }
      body .App .fields .label {
        width: 3em; }
      body .App .fields .field {
        align-items: center;
        margin-bottom: .5em; }
        body .App .fields .field div {
          margin-right: .2em; }
    body .App .controls button {
      max-width: 6.5em; }
